{% extends "layout.html" %}

{% block title %}Acerca de Mozilla Colombia{% endblock %}

{% block style %}


    <!--[if lte IE 8]>
    <script src="//mozorg.cdn.mozilla.net/media/js/libs/html5shiv.js"></script>
    <![endif]-->

    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='home/css/responsive-min.css') }}">
    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='home/css/home2.css') }}">
    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='home/css/home-min.css') }}">


<!--[if IE 9]>
  <link rel="stylesheet" media="screen,projection,tv" href="//mozorg.cdn.mozilla.net/media/css/home-ie9-min.css?build=c6d3fcc" />
<![endif]-->
<!--[if IE 8]>
  <link rel="stylesheet" media="screen,projection,tv" href="//mozorg.cdn.mozilla.net/media/css/home-ie8-min.css?build=c6d3fcc" />
<![endif]-->
<!--[if lt IE 8]>
  <link rel="stylesheet" media="screen,projection,tv" href="//mozorg.cdn.mozilla.net/media/css/home-ie-min.css?build=c6d3fcc" />
<![endif]-->

{% endblock %}

{% block javascript %}
    <script id="undefined" src="{{ url_for('static', filename='home/js/inpage_linkid.js') }}" async="" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='home/js/site-min.js') }}"></script>
    {% endblock %}
</head>

<body id="home" class="html-ltr sand lang-fr wide">
	<div id="strings" data-global-close="Fermer" data-news-next="Article suivant" data-news-prev="Article précédent">
	</div>

	<div id="outer-wrapper">
		<div id="wrapper">
    {% block main_content %}
			<main id="main-content" role="main">
				<header class="mission">
					<img id="logo" src="{{ url_for('static', filename='common/img/logo.png') }}">
					<h1>
						<img class="mz" src="{{ url_for('static', filename='common/img/mozilla-wordmark-red.png') }}" data-src="//mozorg.cdn.mozilla.net/media/img/home/mozilla-wordmark-red.png" data-high-res="true" alt="Mozilla" height="70" width="258">
						Colombia
					</h1>
					<p class="tagline">
						Juntos cultivando Internet
					</p>
				</header>
				
				<section class="extra">
					<div class="container ">
						<h1 class="title-shadow-box">{{ self.title()}}</h1>
					</div>
					<div class="container">

						<h2 class="">¿Quienes somos nosotros?</h2>
						<p class="intro intro-left">Mozilla Colombia es una comunidad local que representa la fundación <a href="https://www.mozilla.org">Mozilla</a>. Nuestra comunidad se basa en el principio de comunidades abiertas y de libre participación donde todos los miembros son voluntarios y el marco de trabajo es sin fines de lucro. Actualmente cuenta con miembros distribuidos por todo el territorio, participando en eventos realizados en las diferentes ciudades de Colombia. La comunidad fue fundada en 2010.
						</p>
						<div class="video video-right">
							<img class="placeholder-img" alt="Mozilla" src="{{ url_for('static', filename='about/img/us.jpg') }}">
						</div>
					</div>
				<!-- </section>
				<section class="extra"> -->
					<div class="container extra">		
						<h2 class="">¿Por qué una comunidad local de Mozilla?</h2>
						<p class="intro intro-right">Es esencial para Mozilla para tener comunidades locales para facilitar el acceso a sus recursos y tienen un soporte adaptado según la cultura de cada país. Se trata de encontrar un soporte físico para los productos o actividades de Mozilla hablar el idioma local. Somos una comunidad de gente, pensadores y desarrolladores que trabajamos para que Internet siga vivo y accesible, una web en la que todos seamos colaboradores y creadores de la misma. Creemos que este acto de colaboración a través de una plataforma abierta es fundamental para el crecimiento personal y el futuro de todos.
						</p>
						<div class="video video-left">
							<img class="placeholder-img" alt="communauté" src="{{ url_for('static', filename='about/img/community.jpg') }}">
						</div>
					</div>
					<div class="container">		
						<h2 class="">¿Como nos organizámos?</h2>
						<p class="intro intro-left">Mozilla, así como Mozilla Colombia es un proyecto de código abierto gobernado en base a la meritocracia. Nuestra comunidad está estructurada como una organización virtual donde la autoridad se distribuye tanto a voluntarios y empleados miembros de la comunidad, que muestran sus habilidades a través de contribuciones al proyecto, participación en eventos o promoviendo la misión de Mozilla.
						</p>
						<div class="video video-right">
							<img class="placeholder-img" alt="activités" src="{{ url_for('static', filename='about/img/activities.jpg') }}">
						</div>
					</div>
				</section>
			</main>
    {% endblock %}
		</div>
		<!-- close #wrapper -->
	</div>
	<!-- close #outer-wrapper -->
{% block last_load_javascript %}
	<!--[if IE 9]>
	      <script src="//mozorg.cdn.mozilla.net/media/js/libs/matchMedia.js"></script>
	    <![endif]-->
	<script src="{{ url_for('static', filename='home/js/mozorg-resp-min.js') }}"></script>
	<!--[if gt IE 7]> <!-- -->
	<script src="{{ url_for('static', filename='home/js/home-min.js') }}"></script>
	<!-- <![endif]-->
	<div class="crossrider-nofity-14917" index="0">	</div>
	<div class="crossrider-nofity-14917-top-left">	</div>
	<div class="crossrider-nofity-14917-top-right">	</div>
	<div class="crossrider-nofity-14917-bottom-left"> </div>
	<div class="crossrider-nofity-14917-bottom-right"></div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49501333-4', 'auto');
    ga('send', 'pageview');

  </script>
{% endblock %}
</body>

</html>
