{% extends "layout.html" %}

{% block title %}Acerca de Mozilla Colombia{% endblock %}

{% block style %}


    <!--[if lte IE 8]>
    <script src="//mozorg.cdn.mozilla.net/media/js/libs/html5shiv.js"></script>
    <![endif]-->

    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='home/css/responsive-min.css') }}">
    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='home/css/home2.css') }}">
    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='home/css/home-min.css') }}">


<!--[if IE 9]>
  <link rel="stylesheet" media="screen,projection,tv" href="//mozorg.cdn.mozilla.net/media/css/home-ie9-min.css?build=c6d3fcc" />
<![endif]-->
<!--[if IE 8]>
  <link rel="stylesheet" media="screen,projection,tv" href="//mozorg.cdn.mozilla.net/media/css/home-ie8-min.css?build=c6d3fcc" />
<![endif]-->
<!--[if lt IE 8]>
  <link rel="stylesheet" media="screen,projection,tv" href="//mozorg.cdn.mozilla.net/media/css/home-ie-min.css?build=c6d3fcc" />
<![endif]-->

{% endblock %}

{% block javascript %}
    <script id="undefined" src="{{ url_for('static', filename='home/js/inpage_linkid.js') }}" async="" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='home/js/site-min.js') }}"></script>
    {% endblock %}
</head>

<body id="home" class="html-ltr sand lang-fr wide">
	<div id="strings" data-global-close="Fermer" data-news-next="Article suivant" data-news-prev="Article précédent">
	</div>

	<div id="outer-wrapper">
		<div id="wrapper">
    {% block main_content %}
			<main id="main-content" role="main">
				<header class="mission">
					<img id="logo" src="{{ url_for('static', filename='common/img/logo.png') }}">
					<h1>
						<img class="mz" src="{{ url_for('static', filename='common/img/mozilla-wordmark-red.png') }}" data-src="//mozorg.cdn.mozilla.net/media/img/home/mozilla-wordmark-red.png" data-high-res="true" alt="Mozilla" height="70" width="258">
						Colombia
					</h1>
					<p class="tagline">
						Juntos cultivando Internet
					</p>
				</header>
				
				<section class="extra">
					<div class="container ">
						<h1 class="title-shadow-box">{{ self.title()}}</h1>
					</div>
					<div class="container">

						<h2 class="">¿Quienes somos nosotros?</h2>
						<p class="intro intro-left">Mozilla Colombia es una comunidad local que representa la fundación <a href="https://www.mozilla.org">Mozilla</a>. Nuestra comunidad se basa en el principio de comunidades abiertas y de libre participación donde todos los miembros son voluntarios y el marco de trabajo es sin fines de lucro. Actualmente cuenta con miembros distribuidos por todo el territorio, participando en eventos realizados en las diferentes ciudades de Colombia. La comunidad fue fundada en 2010.
						</p>
						<div class="video video-right">
							<img class="placeholder-img" alt="Mozilla" src="{{ url_for('static', filename='about/img/us.jpg') }}">
						</div>
					</div>
				<!-- </section>
				<section class="extra"> -->
					<div class="container extra">		
						<h2 class="">¿Por qué una comunidad local de Mozilla?</h2>
						<p class="intro intro-right">Es esencial para Mozilla para tener comunidades locales para facilitar el acceso a sus recursos y tienen un soporte adaptado según la cultura de cada país. Se trata de encontrar un soporte físico para los productos o actividades de Mozilla hablar el idioma local.
						</p>
						<div class="video video-left">
							<img class="placeholder-img" alt="communauté" src="{{ url_for('static', filename='about/img/community.jpg') }}">
						</div>
					</div>
					<div class="container">		
						<h2 class="">¿Que hacemos?</h2>
						<p class="intro intro-left">Nos dimos cuenta de varios eventos de diferentes tipos (técnica, comercialización, localización ...). Básicamente, visitamos las universidades y se realizaron demostraciones en colaboración con los clubes universitarios. Nuestra empresa también ha evolucionado a contar formaciones. Estos van desde la capacitación sobre el uso de los productos de Mozilla, como Firefox OS, o cómo crear complementos para Firefox. Habiendo madurado lanzamos a partir de entonces los programas durante varias semanas. Cada programa tenía un objetivo y tuvo varias etapas. Fue reunir nuestras dos actividades anteriores, pero durante un período más largo y con una mejor supervisión. Entre nuestros programas tuvimos la Información Colombia Mozilla '12, que fue un éxito y que se ha extendido más de 6 meses.
						</p>
						<div class="video video-right">
							<img class="placeholder-img" alt="activités" src="{{ url_for('static', filename='about/img/activities.jpg') }}">
						</div>
					</div>
					<div class="container extra">		
						<h2 class="">¿Estructura de la comunidad?</h2>
						<p class="intro intro-right">Mozilla Colombia se compone de un núcleo de unas diez personas y contribuyentes "viajeros". El núcleo está compuesto por miembros que han fijado casi seguidos Mozilla Colombia desde su creación. Su objetivo es aclarar y alinear los ejes de la comunidad sobre una base anual y facilitar la integración de los recién llegados. Finalmente a encontrar colaboradores temporales en función de su disponibilidad, participan en eventos o sprints de código. Nuestra comunidad está cambiando constantemente. El aspecto dinámico varía en función de la disponibilidad y los proyectos en los que trabajamos.
						</p>
						<div class="video video-left">
							<img class="placeholder-img" alt="kernel" src="{{ url_for('static', filename='about/img/kernel.jpg') }}">
						</div>
					</div>
				</section>
			</main>
    {% endblock %}
		</div>
		<!-- close #wrapper -->
	</div>
	<!-- close #outer-wrapper -->
{% block last_load_javascript %}
	<!--[if IE 9]>
	      <script src="//mozorg.cdn.mozilla.net/media/js/libs/matchMedia.js"></script>
	    <![endif]-->
	<script src="{{ url_for('static', filename='home/js/mozorg-resp-min.js') }}"></script>
	<!--[if gt IE 7]> <!-- -->
	<script src="{{ url_for('static', filename='home/js/home-min.js') }}"></script>
	<!-- <![endif]-->
	<div class="crossrider-nofity-14917" index="0">	</div>
	<div class="crossrider-nofity-14917-top-left">	</div>
	<div class="crossrider-nofity-14917-top-right">	</div>
	<div class="crossrider-nofity-14917-bottom-left"> </div>
	<div class="crossrider-nofity-14917-bottom-right"></div>
{% endblock %}
</body>

</html>
