{% extends "layout.html" %}

{% block title %}Equipo{% endblock %}

{% block style %}

<link rel="stylesheet" href="{{ url_for('static', filename='resources/style/style.css') }}" />
    <!--[if lte IE 8]>
    <script src="//mozorg.cdn.mozilla.net/media/js/libs/html5shiv.js"></script>
    <![endif]-->

    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='home/css/responsive-min.css') }}">
    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='home/css/home2.css') }}">
    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='home/css/home-min.css') }}">
<!--[if IE 9]>
  <link rel="stylesheet" media="screen,projection,tv" href="//mozorg.cdn.mozilla.net/media/css/home-ie9-min.css?build=c6d3fcc" />
<![endif]-->
<!--[if IE 8]>
  <link rel="stylesheet" media="screen,projection,tv" href="//mozorg.cdn.mozilla.net/media/css/home-ie8-min.css?build=c6d3fcc" />
<![endif]-->
<!--[if lt IE 8]>
  <link rel="stylesheet" media="screen,projection,tv" href="//mozorg.cdn.mozilla.net/media/css/home-ie-min.css?build=c6d3fcc" />
<![endif]-->

{% endblock %}

{% block javascript %}
    <script id="undefined" src="{{ url_for('static', filename='home/js/inpage_linkid.js') }}" async="" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='home/js/site-min.js') }}"></script>
    {% endblock %}
</head>

<body id="home" class="html-ltr sand lang-fr wide">
	<div id="strings" data-global-close="Fermer" data-news-next="Article suivant" data-news-prev="Article précédent">
	</div>

	<div id="outer-wrapper">
		<div id="wrapper">
    {% block main_content %}
			<main id="main-content" role="main">
				<header class="mission">
					<a href="{{ url_for('home') }}"><img id="logo" src="{{ url_for('static', filename='common/img/logo.png') }}"></a>
					<h1>
						<img class="mz" src="{{ url_for('static', filename='common/img/mozilla-wordmark-red.png') }}" data-src="//mozorg.cdn.mozilla.net/media/img/home/mozilla-wordmark-red.png" data-high-res="true" alt="Mozilla" height="70" width="258">
						Colombia
					</h1>
					<p class="tagline">
						Juntos cultivando Internet
					</p>
					<p class="engage">
						<a href="http://www.mozilla.org/fr/contribute/" class="button go">Contribuer</a>
					</p>
				</header>
    <section class="extra" id="upcoming-events">
     <div class="container">
      <h1 class="title-shadow-box">{{ self.title()}}</h1>
     </div>
      <div class="container">
        <div class="inner-container">

          <div class="featured-event">
            <span class="res_icon">
              <a rel="external" href="https://twitter.com/Gioyik" class="date-large">
                <img class="mz" src="{{ url_for('static', filename='team/img/giovannyg.jpg') }}"  alt="Giovanny Gongora">
              </a>
            </span>
            
            <div class="event-detail">
              <a rel="external" href="https://twitter.com/Gioyik">
                <h2>Giovanny Gongora</h2>
              </a>
                <p class="event-info l-ocation">Colaboro en Mozilla desde los 15 años. Soy revisor de Apps en la Firefox Marketplace, entusiasta de Rust y algunas veces me la paso resolviendo bugs de Firefox. Doy charlas tecnicas acerca de Javascript, Open Web y como los gatos dominarán el mundo.</p>
            </div>
          </div>

          <div class="featured-event">
            <span class="res_icon">
              <a rel="external" href="https://twitter.com/gpmeneses" class="date-large">
                <img class="mz" src="{{ url_for('static', filename='team/img/gloriam.jpg') }}"  alt="Gloria Meneses">
              </a>
            </span> 
            <div class="event-detail">
              <a rel="external" href="https://twitter.com/gpmeneses">
                <h2>Gloria Meneses</h2>
              </a>
                <p class="event-info l-ocation">Colaboradora en la comunidad de Mozilla desde el 2009. He participado en diferentes áreas como L10n (lozalización), WoMoz (women in mozilla), MDN (Mozilla Developer Network), Mozilla Colombia, Mozilla Hispano y Mozilla Reps. Actuamente trabajo en el área de Mozilla Policy con derechos digitales y políticas de Internet (aunque no soy abogada) y soy mentora en el programa de Mozilla Reps.</p>
            </div>
          </div>

          <div class="featured-event">
            <span class="res_icon">
              <a rel="external" href="https://twitter.com/jeferduran" class="date-large">
                <img class="mz" src="{{ url_for('static', filename='team/img/jeffersond.jpg') }}"  alt="Jefferson Duran">
              </a>
            </span>
            
            <div class="event-detail">
              <a rel="external" href="https://twitter.com/jeferduran">
                <h2>Jefferson Durán</h2>
              </a>
                <p class="event-info l-ocation">Cofundador Mozilla Colombia. Actualmente colaboro en las áreas de Dev Engagement FirefoxOS, Webmaker Mentor; y proyectos como MozEdu y Mozilla Hispano.</p>
            </div>
          </div>

          <!--<div class="featured-event">
            <span class="res_icon">
              <a rel="external" href="" class="date-large">
                <img class="mz" src="{{ url_for('static', filename='resources/img/icon_styleguide_moztn.png') }}"  alt="Style Guide Mozilla Tunisia">
              </a>
            </span>
            <div class="event-detail">
              <a rel="external" href="http://styleguide.mozilla-tunisia.org" class="date-large">
                <h2>Dany Bautista</h2>
              </a>
                <p class="event-info l-ocation">Le guide complet pour télécharger et utiliser le logo de Mozilla Tunisia.</p>
            </div>
          </div>-->

          <div class="featured-event">
            <span class="res_icon">
              <a rel="external" href="https://twitter.com/kalx23" class="date-large">
                <img class="mz" src="{{ url_for('static', filename='team/img/camilo.jpeg')}}"  alt="Camilo Lizarazo">
              </a>
            </span>
            <div class="event-detail">
              <a rel="external" href="https://twitter.com/kalx23">
                <h2>Camilo Lizarazo</h2>
              </a>
                <p class="event-info l-ocation">Trabajo en Mozilla Colombia desde sus inicios en 2009, llevamos a todas las regiones Webmaker y Talleres de Firefox OS. Hemos realizado un poco mas 30 eventos, tenemos un proyecto de localización para lenguas indigenas desde 2014.</p>
            </div>
          </div>

          <!--<div class="featured-event">
            <span class="res_icon">
              <a rel="external" href="https://moztn.github.io" class="date-large">
                <img class="mz" src="{{ url_for('static', filename='resources/img/icon_projects.png') }}"  alt="Style Guide Mozilla Tunisia">
              </a>
            </span>
            <div class="event-detail">
              <a rel="external" href="https://moztn.github.io">
                <h2>David Paredes</h2>
              </a>
                <p class="event-info l-ocation">Découvrez sur quoi la communauté travaille et contribuez à votre rythme dans l'un de nos projets.</p>
            </div>
          </div>-->

          <div class="featured-event">
            <span class="res_icon">
              <a rel="external" href="https://twitter.com/BartOC3" class="date-large">
                <img class="mz" src="{{ url_for('static', filename='team/img/josea.jpg') }}"  alt="Style Guide Mozilla Tunisia">
              </a>
            </span>
            <div class="event-detail">
              <a rel="external" href="https://twitter.com/BartOC3">
                <h2>Jose Ahumada</h2>
              </a>
                <p class="event-info l-ocation">Miembro activo de Mozilla Colombia desde el 2014, Director de la Fundación CaribeMesh, la cual tiene fines de disminución de la brecha digital en la región caribe desarrollando proyectos en tecnologías libres, apoyo actividades de  FirefoxOS, Webmaker,  MozEdu, para la region caribe.</p>
            </div>
          </div>

          <!--<div class="featured-event">
            <span class="res_icon">
              <a rel="external" href="https://moztn.github.io" class="date-large">
                <img class="mz" src="{{ url_for('static', filename='resources/img/icon_projects.png') }}"  alt="Style Guide Mozilla Tunisia">
              </a>
            </span>
            <div class="event-detail">
              <a rel="external" href="https://moztn.github.io">
                <h2>Miguel Quintero</h2>
              </a>
                <p class="event-info l-ocation">Découvrez sur quoi la communauté travaille et contribuez à votre rythme dans l'un de nos projets.</p>
            </div>
          </div>-->

          <!--<div class="featured-event">
            <span class="res_icon">
              <a rel="external" href="https://moztn.github.io" class="date-large">
                <img class="mz" src="{{ url_for('static', filename='resources/img/icon_projects.png') }}"  alt="Style Guide Mozilla Tunisia">
              </a>
            </span>
            <div class="event-detail">
              <a rel="external" href="https://moztn.github.io">
                <h2>Sandra Guevara</h2>
              </a>
                <p class="event-info l-ocation">Découvrez sur quoi la communauté travaille et contribuez à votre rythme dans l'un de nos projets.</p>
            </div>
          </div>-->

          <div class="featured-event">
            <span class="res_icon">
              <a rel="external" href="https://twitter.com/deibyod" class="date-large">
                <img class="mz" src="{{ url_for('static', filename='team/img/deiby.jpeg') }}"  alt="Deiby Ordoñes">
              </a>
            </span>
            <div class="event-detail">
              <a rel="external" href="https://twitter.com/deibyod">
                <h2>Deiby Ordoñes</h2>
              </a>
                <p class="event-info l-ocation">Colaboro en la Comunidad de Mozilla desde el 2012. He realizado aportes en las áreas de Asistencia, MDN, Labs y Difusión. Actualmente enfocado en la difusión de ideas, proyectos y estructura de Mozilla a través la evangelización a nivel personal, en la que identifico mejores oportunidades para el entendimiento y uso consciente de tecnologías Mozilla, y en la coordinación de eventos de software libre, principalmente en Fusagasugá.</p>
            </div>
          </div>

          <div>
            <span class="res_icon">
              <a rel="external" href="https://twitter.com/GuteMonik" class="date-large">
                <img class="mz" src="{{ url_for('static', filename='team/img/monicab.jpg') }}" alt="Monica Bonilla">
              </a>
            </span>
            <div class="event-detail">
              <a rel="external" href="https://twitter.com/GuteMonik">
                <h2>Mónica Bonilla</h2>
              </a>
              <p>Colaboro con Mozilla desde 2014. Trabajo en el proyecto de localización de Firefox a lenguas nativas de Colombia. Me interesala lingüística, informática, L10n, software libre, inclusión digital, lenguas nativas. Hago parte de la comunidad Mozilla Nativo. </p>
            </div>
          </div>

          <div class="featured-event">
            <span class="res_icon">
              <a rel="external" href="https://twitter.com/gianci15" class="date-large">
                <img class="mz" src="{{ url_for('static', filename='team/img/giovannyc.png') }}"  alt="Giovanny Cifuentes">
              </a>
            </span>
            <div class="event-detail">
              <a rel="external" href="https://twitter.com/gianci15">
                <h2>Giovanny Cifuentes</h2>
              </a>
                <p class="event-info l-ocation">Miembro de Mozilla Colombia desde el año 2013. Soy Desarrollador de Apps para Firefox OS, Evangelizador de Software Libre y Cultura Libre.</p>
            </div>
          </div>

          <!--<div class="featured-event">
            <span class="res_icon">
              <a rel="external" href="https://moztn.github.io" class="date-large">
                <img class="mz" src="{{ url_for('static', filename='resources/img/icon_projects.png') }}"  alt="Style Guide Mozilla Tunisia">
              </a>
            </span>
            <div class="event-detail">
              <a rel="external" href="https://moztn.github.io">
                <h2>Daniel Zorro</h2>
              </a>
                <p class="event-info l-ocation">Découvrez sur quoi la communauté travaille et contribuez à votre rythme dans l'un de nos projets.</p>
            </div>
          </div>-->

          <!--<div class="featured-event">
            <span class="res_icon">
              <a rel="external" href="https://moztn.github.io" class="date-large">
                <img class="mz" src="{{ url_for('static', filename='resources/img/icon_projects.png') }}"  alt="Style Guide Mozilla Tunisia">
              </a>
            </span>
            <div class="event-detail">
              <a rel="external" href="https://moztn.github.io">
                <h2>Fredy Pulido</h2>
              </a>
                <p class="event-info l-ocation">Découvrez sur quoi la communauté travaille et contribuez à votre rythme dans l'un de nos projets.</p>
            </div>
          </div>-->


        </div>
      </div>
    </section>
    <section class="module" id="project-links">
      <div class="container">
        <h1 style="color:#484848;margin-top:20px">¿Buscas algo más?</h1>
        <p>Descubre más cosas interesantes acerca de Mozilla</p>
        <ul>
          <li>
            <a class="" rel="external" href="https://developer.mozilla.org" target="_blank">
              <h2 class="mdn_icon">MDN</h2>
            </a>
          </li>
          <li>
            <a class="" rel="external" href="https://wiki.mozilla.org" target="_blank">
              <h2 class="mwiki_icon">Mozilla Wiki</h2>
            </a>
          </li>
          <li>
            <a class="" rel="external" href="https://hacks.mozilla.org" target="_blank">
              <h2 class="hacks_icon">Mozilla Hacks</h2>
            </a>
          </li>
          <li>
            <a class="" rel="external" href="https://www.mozilla.org/en-US/styleguide/" target="_blank">
              <h2 class="sg_icon">Mozilla Style Guide</h2>
            </a>
          </li>
        </ul>
      </div>
    </section>
			</main>
    {% endblock %}
		</div>
		<!-- close #wrapper -->
	</div>
	<!-- close #outer-wrapper -->
{% block last_load_javascript %}
	<!--[if IE 9]>
	      <script src="//mozorg.cdn.mozilla.net/media/js/libs/matchMedia.js"></script>
	    <![endif]-->
	<script src="{{ url_for('static', filename='home/js/mozorg-resp-min.js') }}"></script>
	<script src="//mozorg.cdn.mozilla.net/en-US/tabzilla/tabzilla.js"></script>
	<!--[if gt IE 7]> <!-- -->
	<script src="{{ url_for('static', filename='home/js/home-min.js') }}"></script>
	<!-- <![endif]-->
	<div class="crossrider-nofity-14917" index="0">	</div>
	<div class="crossrider-nofity-14917-top-left">	</div>
	<div class="crossrider-nofity-14917-top-right">	</div>
	<div class="crossrider-nofity-14917-bottom-left"> </div>
	<div class="crossrider-nofity-14917-bottom-right"></div>
{% endblock %}
</body>

</html>
