 		<footer id="colophon" class="">
		<div class="row">
			<div class="col col-1">
				<a href="http://www.mozillacolombia.org/"><img id="logo-footer" src="{{ url_for('static', filename='common/img/footer-mozilla.png') }}" alt="mozilla"></a>
			</div>
		<div class="col col-2">
		   	<p>
		   		Este sitio fué creado y es mantenido por la comunidad Mozilla Colombia perteneciente a la fundación <a href="https://www.mozilla.org/es/" target="_blank">Mozilla</a>. Este sitio está bajo la licencia Creative Commons y su contenido está disponible en <a href="https://www.github.com/MozillaColombia/website" target="_blank">Github</a>.
		   	</p>
		</div>

		<div class="col col-3">
			<span class="foo_icon">
				<a href="https://www.github.com/MozillaColombia" target="_blank">
					<i class="fa fa-github-square fa-3x"></i>
				</a>
			</span>
			<span class="foo_icon">
				<a href="https://www.facebook.com/mozillacolombia" target="_blank">
					<i class="fa fa-facebook-official fa-3x"></i>
				</a>
			</span>
	     	<span class="foo_icon">
	     		<a href="https://twitter.com/mozillacolombia" target="_blank">
	     			<i class="fa fa-twitter-square fa-3x"></i>
	     		</a>
	     	</span>

		</div>
	
		</div>
		</footer>
