{% extends "layout.html" %}

{% block title %}Participa{% endblock %}

{% block style %}


    <!--[if lte IE 8]>
    <script src="//mozorg.cdn.mozilla.net/media/js/libs/html5shiv.js"></script>
    <![endif]-->

    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='home/css/responsive-min.css') }}">
    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='home/css/home2.css') }}">
    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='home/css/home-min.css') }}">
    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='contribute/css/contribute.css') }}">


<!--[if IE 9]>
  <link rel="stylesheet" media="screen,projection,tv" href="//mozorg.cdn.mozilla.net/media/css/home-ie9-min.css?build=c6d3fcc" />
<![endif]-->
<!--[if IE 8]>
  <link rel="stylesheet" media="screen,projection,tv" href="//mozorg.cdn.mozilla.net/media/css/home-ie8-min.css?build=c6d3fcc" />
<![endif]-->
<!--[if lt IE 8]>
  <link rel="stylesheet" media="screen,projection,tv" href="//mozorg.cdn.mozilla.net/media/css/home-ie-min.css?build=c6d3fcc" />
<![endif]-->

{% endblock %}

{% block javascript %}
    <script id="undefined" src="{{ url_for('static', filename='home/js/inpage_linkid.js') }}" async="" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='home/js/site-min.js') }}"></script>
    {% endblock %}
</head>

<body id="home" class="html-ltr sand lang-fr wide">
	<div id="strings" data-global-close="Fermer" data-news-next="Article suivant" data-news-prev="Article précédent">
	</div>

	<div id="outer-wrapper">
		<div id="wrapper">
    {% block main_content %}
			<main id="main-content" role="main">
				<header class="mission">
					<a href="{{ url_for('home') }}"><img id="logo" src="{{ url_for('static', filename='common/img/logo.png') }}"></a>
					<h1>
						<img class="mz" src="{{ url_for('static', filename='common/img/mozilla-wordmark-red.png') }}" data-src="//mozorg.cdn.mozilla.net/media/img/home/mozilla-wordmark-red.png" data-high-res="true" alt="Mozilla" height="70" width="258">
						Colombia
					</h1>
					<p class="tagline">
						Juntos cultivando Internet
					</p>
					<p class="engage">
						<a href="http://www.mozilla.org/fr/contribute/" class="button go">Contribuer</a>
					</p>
				</header>

				
				<section class="extra">
					<div class="container ">
						<h1 class="title-shadow-box">{{ self.title()}}</h1>
					</div>
					{% if sent %}
                <h3 class="section-title"> Message envoyé, on va vous contacter bientôt :) </h3>
              {% endif %}
					<div class="container">
					    <h1 class="page-title">¿Deseas colaborar con Mozilla pero no sabes cómo?</h1>
					    <!-- <p class="section-tagline">Vous voulez vous impliquer? Voici comment.</p> -->
			        </div>

				</section>
				<section class="section landing-howto" id="landing-howto">
				    <div class="container">
				      <h2 class="section-title">Solo unos pasos y empezarás colaborando</h2>
				      <ol class="steps">
				        <li class="step1">Selecciona el areá que más te llame la atención para empezar a colaborar</li>
				        <li class="step2">Recibiremos un correo con la información de contacto que proporciones</li>
				        <li class="step3">Se te asignará un mentor que te guiará en cualquier inconveniente que tengas</li>
				      </ol>
				      <!-- <p class="cta"><a data-label="Get started" data-position="CTA button click - landing bottom" href="/en-US/contribute/signup/">Get started</a></p> -->
				    </div>
				</section>
				<header class="page-head">
				  	<div class="container">
				    	<h1 class="page-title">Cuéntanos en que te gustaría ayudar</h1>
				    	<p class="section-tagline">En Mozilla Hispano y Mozilla Colombia creemos que lo que nos da valor y nos diferencia del resto es que somos una comunidad de voluntarios que hablamos tu mismo idioma. Nuestra misión es que la web sea un recurso libre y accesible por todo el mundo.</p>
				  	</div>
				</header>
				<section class="section inquiry">
    				<div class="container">
            			<form action="" method="post" id="inquiry-form" class="inquiry-form">
      						<fieldset class="categories">
        						<ul class="option-list">
                      				<li class="option">
              							<label class="category-coding">
							                <input type="radio" value="coding" required="required" name="category">
							                <span class="label-text">Programación</span>
							                <a href="#info-coding" class="info">Más información</a>
              							</label>
            						</li>
                      				<li class="option">
              							<label class="category-testing">
							                <input type="radio" value="testing" required="required" name="category">
							                <span class="label-text">Pruebas</span>
							                <a href="#info-testing" class="info">Más información</a>
              							</label>
            						</li>
                      				<li class="option">
              							<label class="category-writing">
							                <input type="radio" value="writing" required="required" name="category">
							                <span class="label-text">Redacción</span>
							                <a href="#info-writing" class="info">Más información</a>
              							</label>
            						</li>
                      				<li class="option">
              							<label class="category-teaching">
                							<input type="radio" value="teaching" required="required" name="category">
							                <span class="label-text">Comunicación</span>
							                <a href="#info-teaching" class="info">Más información</a>
              							</label>
            						</li>
                      				<li class="option">
              							<label class="category-translating">
							                <input type="radio" value="translating" required="required" name="category">
							                <span class="label-text">Traducción</span>
							                <a href="#info-translating" class="info">Más información</a>
              							</label>
            						</li>
            						<li class="option">
              							<label class="category-activism">
							                <input type="radio" value="activism" required="required" name="category">
							                <span class="label-text">Activismo</span>
							                <a href="#info-activism" class="info">Más información</a>
              							</label>
            						</li>
            						<li class="option">
	              						<label class="category-helping">
							                <input type="radio" value="helping" required="required" name="category">
							                <span class="label-text">Ayuda</span>
							                <a href="#info-helping" class="info">Más información</a>
	              						</label>
            						</li>
                  				</ul>
      						</fieldset>
      						<fieldset class="personal">
								{{ form.hidden_tag() }}
								<h2 class="section-title">Cuéntanos en que área te gustaría empezar</h2>
								<ul>
									<li>								
										<label for="person-name">Nombres y apellidos</label>
										<input id="id_name" type="text" name="name"/>
										{% for message in form.name.errors %}
										  	<div class="flash">{{ message }}</div>
										{% endfor %}
									</li>
									<li>
										<label for="person-email">Correo electronico</label>
										<input id="id_email" type="email" name="email"/>
										{% for message in form.email.errors %}
										  	<div class="flash">{{ message }}</div>
										{% endfor %}
									</li>
									<li class="form-message">								
										<label for="person-message">¿Por qué quieres formar parte de Mozilla Colombia?</label>
										<textarea id="person-message" cols="30" rows="4" name="message"></textarea>
										{% for message in form.message.errors %}
										  <div class="flash">{{ message }}</div>
										{% endfor %}
									</li>									
								</ul>
								{{ form.recaptcha }}
                      		{% if form.recaptcha.errors|length > 0 %}
							  <div class="flash">Il faut vérifier que vous n'êtes pas un robot !</div>
							{% endif %}
							</fieldset>
							<fieldset class="submit">
								<button type="submit">REJOINDRE MOZILLA TUNISIA</button>
							</fieldset>
      						<!-- Moved by Melek and Sofien : No need for this section now -->
      					<!--	<header class="page-head"> 
							  	<div class="container">
							    	<h1 class="page-title">Prêt à contribuer ?</h1>
							    	<p class="section-tagline">Venez partager et affiner vos connaissances avec nous, on n'attend plus que vous! Rejoignez nous et devenez membre.</p>
							  	</div>
							</header> -->
                  
    					</form>

    					<aside class="category-info">
      						<h2>Où vous voulez commencer ?</h2>
      						<div id="info-coding" class="info-content">
        						<h3>Codage</h3>
        						<p>Contribuez en ajoutant des lignes de code aux différents produits de Mozilla dont Firefox et Firefox OS</p>
      						</div>
					      	<div id="info-testing" class="info-content">
					        	<h3>Tests</h3>
					        	<p>Aidez à rendre les produits Mozilla meilleurs en les testant</p>
					      	</div>
      						<div id="info-writing" class="info-content">
        						<h3>Écriture </h3>
        						<p>Participez en écrivant différents types de documents et informations:  des blogposts, de la documentation technique...</p>
      						</div>

      						<div id="info-teaching" class="info-content">
        						<h3>Enseignement </h3>
        						<p>Partagez vos connaissances et enrichissez les outils d'apprentissage de Mozilla</p>
      						</div>

      						<div id="info-helping" class="info-content">
        						<h3>Aide</h3>
        						<p>Aidez les utilisateurs et les nouveaux contributeurs à commencer et à comprendre nos produits</p>
      						</div>

      						<div id="info-translating" class="info-content">
        						<h3>Traduction</h3>
        						<p>Rendrez les contenus et produits Mozilla accessibles dans votre langue locale</p>
      						</div>

      						<div id="info-activism" class="info-content">
        						<h3>Activisme</h3>
        						<p>Faites du web ouvert votre combat et aidez nous à diffuser notre culture</p>
      						</div>
    					</aside>
    
  					</div>
				</section>
				<section class="section landing-notready" id="landing-notready">
				    <div class="container">
				      <h2 class="section-title">¿No encontraste un area adecuada para participar aún?</h2>
				      <p class="section-tagline">No te preocupes, existen más formas de participar</p>
				      <ul class="other-actions">
				        <li>
				          <a data-label="Donate to Mozilla" class="other-donate" href="http://mozillacolombia.org/blog">Visita nuestro blog</a>
				        </li>
				        <li>
				          <a data-label="Download Firefox" class="other-download" href="https://www.mozilla.org/es-ES/firefox/">Descarga Firefox</a>
				        </li>
				                        <li>
				          <a data-label="Like us on Facebook" class="other-facebook" href="https://www.facebook.com/mozillatunisia">Enterate en Facebook</a>
				        </li>
				        <li>
				          <a data-label="Follow us on Twitter" class="other-twitter" href="https://twitter.com/mozillatunisia">Siguenos en Twitter</a>
				        </li>
				      </ul>
				    </div>
				</section>
			</main>
    {% endblock %}
		</div>
		<!-- close #wrapper -->
	</div>
	<!-- close #outer-wrapper -->
{% block last_load_javascript %}
	<!--[if IE 9]>
	      <script src="//mozorg.cdn.mozilla.net/media/js/libs/matchMedia.js"></script>
	    <![endif]-->
	<script src="{{ url_for('static', filename='home/js/mozorg-resp-min.js') }}"></script>
	<!--[if gt IE 7]> <!-- -->
	<script src="{{ url_for('static', filename='home/js/home-min.js') }}"></script>
	<script src="{{ url_for('static', filename='contribute/js/contribute.js') }}"></script>
	<!-- <![endif]-->
	<div class="crossrider-nofity-14917" index="0">	</div>
	<div class="crossrider-nofity-14917-top-left">	</div>
	<div class="crossrider-nofity-14917-top-right">	</div>
	<div class="crossrider-nofity-14917-bottom-left"> </div>
	<div class="crossrider-nofity-14917-bottom-right"></div>
{% endblock %}
</body>

</html>
