{% extends "layout.html" %}

{% block title %}Eventos{% endblock %}

{% block style %}

<link rel="stylesheet" href="{{ url_for('static', filename='resources/style/style.css') }}" />
    <!--[if lte IE 8]>
    <script src="//mozorg.cdn.mozilla.net/media/js/libs/html5shiv.js"></script>
    <![endif]-->

    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='home/css/responsive-min.css') }}">
    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='home/css/home2.css') }}">
    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='home/css/home-min.css') }}">
<!--[if IE 9]>
  <link rel="stylesheet" media="screen,projection,tv" href="//mozorg.cdn.mozilla.net/media/css/home-ie9-min.css?build=c6d3fcc" />
<![endif]-->
<!--[if IE 8]>
  <link rel="stylesheet" media="screen,projection,tv" href="//mozorg.cdn.mozilla.net/media/css/home-ie8-min.css?build=c6d3fcc" />
<![endif]-->
<!--[if lt IE 8]>
  <link rel="stylesheet" media="screen,projection,tv" href="//mozorg.cdn.mozilla.net/media/css/home-ie-min.css?build=c6d3fcc" />
<![endif]-->

{% endblock %}

{% block javascript %}
    <script id="undefined" src="{{ url_for('static', filename='home/js/inpage_linkid.js') }}" async="" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='home/js/site-min.js') }}"></script>
    {% endblock %}
</head>

<body id="home" class="html-ltr sand lang-fr wide">
  <div id="strings" data-global-close="Fermer" data-news-next="Article suivant" data-news-prev="Article précédent">
  </div>

  <div id="outer-wrapper">
    <div id="wrapper">
    {% block main_content %}
      <main id="main-content" role="main">
        <header class="mission">
          <a href="{{ url_for('home') }}"><img id="logo" src="{{ url_for('static', filename='common/img/logo.png') }}"></a>
          <h1>
            <img class="mz" src="{{ url_for('static', filename='common/img/mozilla-wordmark-red.png') }}" data-src="//mozorg.cdn.mozilla.net/media/img/home/mozilla-wordmark-red.png" data-high-res="true" alt="Mozilla" height="70" width="258">
            Colombia
          </h1>
          <p class="tagline">
            Juntos cultivando Internet
          </p>
        </header>
    <section class="extra" id="upcoming-events">
     <div class="container">
      <h1 class="title-shadow-box">{{ self.title()}}</h1>
     </div>
      <div class="container">
        <div class="inner-container">

          <div class="loader" style="text-align: center">
            <img style="margin: 0 auto;" src="{{ url_for('static', filename='events/img/loader.gif') }}">
          </div>

        </div>
      </div>
    </section>
    <section class="module" id="project-links">
      <div class="container">
        <h1 style="color:#484848;margin-top:20px">¿Mas información sobre nuestros eventos?</h1>
        <p>Enterate de todos los eventos organizados por Mozilla</p>
        <ul>
          <li>
            <a class="" rel="external" href="https://reps.mozilla.org" target="_blank">
              <h2 class="mdn_icon">Mozilla Reps</h2>
            </a>
          </li>
          <li>
            <a class="" rel="external" href="https://reps.mozilla.org/people/#/search/colombia/" target="_blank">
              <h2 class="mwiki_icon">Reps en Colombia</h2>
            </a>
          </li>
          <li>
            <a class="" rel="external" href="https://reps.mozilla.org/events/#/period/future/search/Colombia/" target="_blank">
              <h2 class="hacks_icon">Eventos de Reps en Colombia</h2>
            </a>
          </li>
          <li>
            <a class="" rel="external" href="https://www.mozilla-hispano.org/documentacion/Eventos" target="_blank">
              <h2 class="sg_icon">Eventos en Mozilla Hispano</h2>
            </a>
          </li>
        </ul>
      </div>
    </section>
      </main>
    {% endblock %}
    </div>
    <!-- close #wrapper -->
  </div>
  <!-- close #outer-wrapper -->
{% block last_load_javascript %}
  <!--[if IE 9]>
        <script src="//mozorg.cdn.mozilla.net/media/js/libs/matchMedia.js"></script>
      <![endif]-->
  <script src="{{ url_for('static', filename='home/js/mozorg-resp-min.js') }}"></script>
  <script src="//mozorg.cdn.mozilla.net/en-US/tabzilla/tabzilla.js"></script>
  <!--[if gt IE 7]> <!-- -->
  <script src="{{ url_for('static', filename='home/js/home-min.js') }}"></script>
  <script src="{{ url_for('static', filename='events/js/reps.js') }}"></script>
  <!-- <![endif]-->
  <div class="crossrider-nofity-14917" index="0"> </div>
  <div class="crossrider-nofity-14917-top-left">  </div>
  <div class="crossrider-nofity-14917-top-right"> </div>
  <div class="crossrider-nofity-14917-bottom-left"> </div>
  <div class="crossrider-nofity-14917-bottom-right"></div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49501333-4', 'auto');
    ga('send', 'pageview');

  </script>
{% endblock %}
</body>

</html>
